.ass-footer-inner {
  ul, ol {
    list-style-type: none;
    margin:0;
    padding: 0;
  }
  .dj-copy {
    font-family: monospace;
    font-size:0.9em;
  }
  text-align:center;
  color: #999999;
  a, a:visited, a:active {
    color: #999999;
  }
}