.ass-content {
  max-width:96rem;
  margin:auto;
  position:relative;
  .ass-content-inner.ng-animate {
    position:absolute;
    top:0;
    left:0;
    right:0;
    min-height:100%;
    box-sizing:border-box;
  }
}

@import 'ass-transitions.scss';
