/*
 * Transitions are defined by adding ass-transition-direction attribute
 * to the element to be transitioned upon change. Angular handles the
 * state classes ng-enter and ng-leave
 */

$ass-transition-duration-quick: 0.167s;
$ass-transition-duration-smooth: 0.33s;
$ass-transition-duration-slow: 0.66s;

[ass-transition-direction=fade] [ass-transition-element] {
  transition: opacity $ass-transition-duration-slow linear;
  opacity:1;
  &.ng-enter-prepare,
  &.ng-enter {
    opacity:0;
  }
  &.ng-enter-active {
    opacity:1;
  }
  &.ng-leave-prepare,
  &.ng-leave {
    opacity:1;
  }
  &.ng-leave-active {
    opacity:0;
  }
}

[ass-transition-direction=ltr] [ass-transition-element],
[ass-transition-direction=rtl] [ass-transition-element],
[ass-transition-direction=ttb] [ass-transition-element],
[ass-transition-direction=btt] [ass-transition-element],
{
  transition: transform $ass-transition-duration-smooth linear;
}

[ass-transition-speed=slow] [ass-transition-element] { transition-duration: $ass-transition-duration-slow; }
[ass-transition-speed=smooth] [ass-transition-element] { transition-duration: $ass-transition-duration-smooth; }
[ass-transition-speed=quick] [ass-transition-element] { transition-duration: $ass-transition-duration-quick; }

[ass-transition-direction=none] [ass-transition-element] {
  transition: none 0;
}

[ass-transition-direction=rtl] [ass-transition-element] {
  transform:translateX(0%);
  &.ng-enter-prepare,
  &.ng-enter {
    transform:translateX(100%);
  }
  &.ng-enter-active {
    transform:translateX(0%);
  }
  &.ng-leave-prepare,
  &.ng-leave {
    transform:translateX(0%);
  }
  &.ng-leave-active {
    transform:translateX(-100%);
  }
}

[ass-transition-direction=ltr] [ass-transition-element] {
  transform:translateX(0%);
  &.ng-enter-prepare,
  &.ng-enter {
    transform:translateX(-100%);
  }
  &.ng-enter-active {
    transform:translateX(0%);
  }
  &.ng-leave-prepare,
  &.ng-leave {
    transform:translateX(0%);
  }
  &.ng-leave-active {
    transform:translateX(100%);
  }
}

[ass-transition-direction=ttb] [ass-transition-element] {
  transform:translateY(0%);
  &.ng-enter-prepare,
  &.ng-enter {
    transform:translateY(-100%);
  }
  &.ng-enter-active {
    transform:translateY(0%);
  }
  &.ng-leave-prepare,
  &.ng-leave {
    transform:translateY(0%);
  }
  &.ng-leave-active {
    transform:translateY(100%);
  }
}

[ass-transition-direction=btt] [ass-transition-element] {
  transform:translateY(0%);
  &.ng-enter-prepare,
  &.ng-enter {
    transform:translateY(-100%);
  }
  &.ng-enter-active {
    transform:translateY(0%);
  }
  &.ng-leave-prepare,
  &.ng-leave {
    transform:translateY(0%);
  }
  &.ng-leave-active {
    transform:translateY(100%);
  }
}
