.ass-content {
  position:relative;
  transition: min-height 0.33s ease-out;

  .ass-content-inner {
    &.ng-animate {
      position:absolute;
      top:0;
      left:0;
      right:0;
      -webkit-box-sizing: border-box;
      box-sizing:border-box;
    }
    // fix markdown code blocks breaking on foundation
    pre {
      @include panel();
      code {
        background: transparent none;
        border:0 none;
        margin:0;
        padding:0;
      }
    }
  }
}
