.ass-footer {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:$ass-footer-height;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;

  .ass-footer-inner {
    transition: background-color 0.33s ease;
    padding:1rem;
    background-color:#eeeeee;
    width:100%;
    height:100%;
  }
}