@import '../../node_modules/zurb-foundation-scss-npm/scss/foundation';
$fa-font-path: 'assets';
@import '../../node_modules/font-awesome/scss/_mixins.scss';
@import '../../node_modules/font-awesome/scss/_variables.scss';

$ass-footer-height: 20rem;

// Include boilerplate styles
@import 'ass-main';

// Import app components
@import 'grid';
@import 'header';
@import 'content';
@import 'footer';
@import 'menu';

html {
  margin:0;
  padding:0;
  height:100%;
  overflow:visible;
  overflow-x:hidden;
}
body {
  margin:0;
  padding:0;
  position:relative;
  padding-bottom: $ass-footer-height;
  overflow:hidden;
  min-height:100%;
  height:auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}