@import 'zurb-foundation-5/scss/foundation';
$fa-font-path: 'assets';
@import 'font-awesome/scss/_mixins.scss';
@import 'font-awesome/scss/_variables.scss';

// Include boilerplate styles
@import 'ass-variables';
@import 'ass-transitions';
@import 'ass-grid';
@import 'ass-header';
@import 'ass-content';
@import 'ass-footer';
@import 'ass-menu';

html {
  margin:0;
  padding:0;
  height:100%;
  overflow:visible;
  overflow-x:hidden;
}
body {
  margin:0;
  padding:0;
  position:relative;
  padding-bottom: $ass-footer-height;
  overflow:hidden;
  min-height:100%;
  height:auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
