.ass-footer {
  background:#eee;
  text-align:center;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:$ass-footer-height;
  transition: transform $ass-transition-duration-quick linear;
  &.is-invisible {
    opacity:0;
  }
  &.is-away {
    transform: translateY($ass-footer-height);
  }
}