// Include boilerplate styles
@import 'ass-main.scss';

$ass-footer-height: 20rem;

// Import app components
@import 'menu.scss';
@import 'footer.scss';

html {
  font-size:62.5%;
  margin:0;
  padding:0;
  height:100%;
  overflow:visible;
  overflow-x:hidden;
}
body {
  font-size:160%;
  margin:0;
  padding:0;
  position:relative;
  padding-bottom: $ass-footer-height;
  min-height:100%;
  transition: min-height 1s ease;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.ass-app {
}

.ass-content-inner {
  padding:1rem;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
}

.ass-header {
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  padding:1rem;
  nav {
    margin:0 -1rem;
  }
}


.ass-split-right {
  float:right;
  width:50%;
}

.ass-split-left {
  float:left;
  width:50%;
}

pre {
  white-space: pre-wrap;
}