@import '../../node_modules/zurb-foundation-scss-npm/scss/foundation';

$ass-footer-height: 20rem;

// Include boilerplate styles
@import 'ass-main';

// Import app components
@import 'grid';
@import 'footer';
@import 'menu';
@import '../features/filter';

html {
  margin:0;
  padding:0;
  height:100%;
  overflow:visible;
  overflow-x:hidden;
}
body {
  margin:0;
  padding:0;
  position:relative;
  padding-bottom: $ass-footer-height;
  min-height:100%;
  height:auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.ass-header {
  transition: background-color 0.33s ease;
  background-color:white;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  * {
    margin-top:0;
    margin-bottom:0;
  }
}

.ass-footer-inner {
  transition: background-color 0.33s ease;
  background-color:#eeeeee;
  width:100%;
  height:100%;
}

.ass-content-inner {
  pre {
    @include panel();
    code {
      background: transparent none;
      border:0 none;
      margin:0;
      padding:0;
    }
  }
}

