
$ass-menu-padding: 1em;
$ass-menu-submenu-padding: 0.5em;

$ass-mainmenu-background-color: #f8f8f8;
$ass-mainmenu-background-color-active: #cccccc;
$ass-submenu-background-color: #fcfcfc;
$ass-submenu-background-color-active: #eeeeee;

.ass-menu ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.ass-menu .ass-submenu {
  min-height: 1.2em + $ass-menu-submenu-padding*2;
  li a {
    transition: background-color 0.33s ease;
    padding: $ass-menu-submenu-padding $ass-menu-padding;
  }
}

.ass-menu li {
  display:inline-block;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  margin:0;
  padding:0;
  a {
    text-align:center;
    transition: background-color 0.33s ease;
    display:block;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    width:100%;
    padding: $ass-menu-padding;
    text-decoration: none;
    height:auto;
    color:#000;
    outline:none;
  }
  a:visited {
    text-decoration: none;
    color:#000;
  }
  &:first-child {
    padding-left:0;
  }
  &:last-child {
    padding-right:0;
  }
}

.ass-menu .ass-mainmenu li {
  a {
    background-color: $ass-mainmenu-background-color;
    &:hover {
      background-color: darken($ass-mainmenu-background-color, 3%);
    }
  }
  &.active a {
    background-color: $ass-mainmenu-background-color-active;
  }
}
.ass-menu .ass-submenu li {
  a {
    background-color: $ass-submenu-background-color;
  }
  &.active a {
    background-color: $ass-submenu-background-color-active;
    &:hover {
      background-color: darken($ass-submenu-background-color, 3%);
    }
  }
}

@for $i from 1 through 10 {
  .ass-menu ul[ass-item-count='#{$i}'] li { width: 100% / $i;}
}
.ass-menu ul[ass-item-count='3'] li { width: 33%;}
.ass-menu ul[ass-item-count='3'] li:last-child { width: 34%;}
.ass-menu ul[ass-item-count='6'] li { width: 16.7%;}
.ass-menu ul[ass-item-count='6'] li:last-child { width: 16.5%;}

