
$ass-menu-padding: 1em;
$ass-menu-submenu-padding: 0.5em;

.ass-menu ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.ass-menu ul.ass-submenu {
  min-height: 1.2em + $ass-menu-submenu-padding*2;
  li a {
    background-color:#f8f8f8;
    padding: $ass-menu-submenu-padding $ass-menu-padding;
  }
  li.ass-is-active a {
    background-color:#ddd;
  }
}

.ass-menu li {
  display:inline-block;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  margin:0;
  padding:0;
  a {
    transition: background-color 0.2s ease;
    display:block;
    background-color: #eee;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    width:100%;
    padding: $ass-menu-padding;
    text-decoration: none;
    height:auto;
    color:#000;
  }
  a:visited {
    text-decoration: none;
    color:#000;
  }
  &:first-child {
    padding-left:0;
  }
  &:last-child {
    padding-right:0;
  }
}

.ass-menu ul li a {
  background-color: #eee;
}
.ass-menu ul.ass-submenu li a {
  background-color: #f8f8f8;
}
.ass-menu ul li.ass-is-active a {
  background-color: #ccc;
}

@for $i from 1 through 10 {
  .ass-menu ul[ass-item-count='#{$i}'] li { width: 100% / $i;}
}
.ass-menu ul[ass-item-count='3'] li { width: 33%;}
.ass-menu ul[ass-item-count='3'] li:last-child { width: 34%;}
.ass-menu ul[ass-item-count='6'] li { width: 16.7%;}
.ass-menu ul[ass-item-count='6'] li:last-child { width: 16.5%;}

