@keyframes ass-feature-includes-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ass-feature-includes {

  .ass-feature-includes-loader {
    padding:5rem;
    font-size:200%;
    .ass-feature-includes-loader-spinner {
      font-size:300%;
      text-align:center;
      opacity:0.2;
      animation: ass-feature-includes-rotating 2s linear infinite;
      -webkit-animation: ass-feature-includes-rotating 2s linear infinite;
    }
  }

  @media print {
    .ass-feature-includes-content {
      width:100%;
    }
    .ass-feature-includes-loader {
      display:none;
    }
  }
}