.ass-style-gloomy {
  &.ass-menu li {
    a {
      background-color:#e3e3f7;
    }
    &.active a {
      background-color:#c3c3e7;
    }
  }
  .ass-mainmenu {
    li a {
      color:#8888aa;
    }
    li.active a {
      color:#000088;
    }
  }
  &.ass-header,
  .ass-footer-inner {
    background-color:#c3c3e7;
    color:#1c1c6b;
  }
  &.ass-content-inner {
    background-color:#e3e3f7;
    overflow:hidden;
  }
}