@keyframes ass-feature-filter-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ass-feature-filter-selected {
  min-height:3rem;
}

.ass-feature-filter-selected a,
.ass-feature-filter-menu a {
  display:inline-block;
  padding:0.4rem 0.8rem;
  border-radius: 0.4rem;
  margin: 0.2rem;
  background: #ddd;
  text-decoration: none;
  &,
  &:active,
  &:visited {
    background-color: #ccddee;
    color: #446688;
  }
  &.is-selected {
    background-color: #8899aa;
    color:white;
  }
}

.ass-feature-filter-loader {
  padding:5rem;
  font-size:200%;
  .ass-feature-filter-loader-spinner {
    font-size:300%;
    text-align:center;
    opacity:0.2;
    animation: ass-feature-filter-rotating 2s linear infinite;
    -webkit-animation: ass-feature-filter-rotating 2s linear infinite;
  }
}

@media print {
  .ass-feature-filter-content {
    width:100%;
  }
  .ass-feature-filter-selected,
  .ass-feature-filter-menu,
  .ass-feature-filter-loader {
    display:none;
  }
}

@media #{$small-up} {
  .ass-feature-filter-content {
    display:block;
    width:100%;
  }
  .ass-feature-filter-menu {
    display:block;
    width:100%;
  }
}

@media #{$medium-up} {
  .ass-feature-filter-content {
    display:inline-block;
    vertical-align:top;
    width:67%;
  }
  .ass-feature-filter-menu {
    display:inline-block;
    vertical-align:top;
    width:32%;
  }
}