
<div  class="ass-feature-filter-selected">
  <span ng-repeat="cloud in tagClouds" ass-transition-direction="ltr" ass-transition-speed="quick">
    <a ng-repeat="tag in cloud.selected" class="ass-tag is-selected {{cloud.name}}" href="" ng-click="cloud.unselect(tag)" ass-transition-element>{{tag.name}} <span class="close">&times;</span></a>
  </span>
</div>

<div class="ass-feature-filter-content">
  <div ng-repeat="page in includes | filter:filterPageBySelectedTags | orderBy:orderSkillBy">
    <a id="{{page.id}}"></a>
    <h2>{{page.title}}</h2>
    <div ng-bind-html="page.content"></div>
  </div>
</div>

<div class="ass-feature-filter-menu">
  <div ng-repeat="cloud in tagClouds" ass-transition-direction="rtl" ass-transition-speed="quick">
    <h2>Filter by {{cloud.name}}</h2>
    <a ng-repeat="tag in cloud.tags() | filter:cloud.filterSelected" href="" class="ass-tag {{cloud.name}}" ng-click="cloud.select(tag)" ass-transition-element>{{tag.name}}</a>
  </div>
</div>
