.ass-feature-filter-selected {
  min-height:3rem;
}

.ass-feature-filter-selected a,
.ass-feature-filter-menu a {
  display:inline-block;
  padding:0.4rem 0.8rem;
  border-radius: 0.4rem;
  margin: 0.2rem;
  background: #ddd;
  text-decoration: none;
  &,
  &:active,
  &:visited {
    background-color: #ccddee;
    color: #446688;
  }
}

@media print {
  .ass-feature-filter-content {
    width:100%;
  }
  .ass-feature-filter-menu {
    display:none;
  }

  .ass-feature-filter-selected {
    display:none;
  }
}

@media #{$small-up} {
  .ass-feature-filter-content {
    display:block;
    width:100%;
  }
  .ass-feature-filter-menu {
    display:block;
    width:100%;
  }
}

@media #{$medium-up} {
  .ass-feature-filter-content {
    display:inline-block;
    vertical-align:top;
    width:67%;
  }
  .ass-feature-filter-menu {
    display:inline-block;
    vertical-align:top;
    width:32%;
  }
}