<ul ass-item-count="{{pages.length}}">
  <li ng-repeat="page in pages" ass-transition-element ng-class="{'ass-is-active':page.isActive || page.hasActiveChild()}">
    <a ng-href="{{page.url}}">{{page.title}}</a>
  </li>
</ul>
<ul ng-repeat="level in subLevels" class="ass-submenu ass-submenu-level-{{level.id}}" ass-item-count="{{level.pages.length}}">
  <li ng-repeat="page in level.pages" ng-class="{'ass-is-active':page.isActive || page.hasActiveChild()}">
    <a ng-href="{{page.url}}">{{page.title}}</a>
  </li>
</ul>